/* .Popup-border {
  background: #fff;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
}


.leaflet-popup {
    margin-left: 58px;
}

.leaflet-popup-tip-container {
    left: 15%;
}

.leaflet-container a.leaflet-popup-close-button {
    height: 15px;
    width: 15px;
    margin: 7px 7px 0 0;
    padding: 0px;
    object-position: center;
    
}

.leaflet-popup-content {
    margin: 5px ;
}

.leaflet-popup-content-wrapper{
    background: linear-gradient(45deg, #231a60, #be246b, #fd9e14);
}

.leaflet-popup-tip {
    background:  linear-gradient(65deg, #231a60,#441a60, #be246b);
}

*/